﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, guys!</h1>
    <h1 class="display-10">This page is using only by cool narwhals!</h1>
</div>
<img src="~/images/narwhal.png" alt="Sample Photo" />

<p>

</p>

<div class="text">
    <h1 class="display-10">The main topic is to figure out how to create your own Web Application and Web server</h1>
</div>

<p>

</p>

<p>

</p>

<div class="text-body"><span class="Comments"><b>3 Comments</b><br></span></div>
<p>

</p>

<div class="comment-avatar">
    <img alt="" class="avatar" height="60" width="60" src="~/images/111.jpg">
</div>
<div class="comment-meta">
    <cite class="comment-author" itemprop="creator" itemscope="itemscope" itemtype="https://schema.org/Person">
        "Q" <span class="says">says</span>
    </cite>
    <time class="comment-published" datetime="2020-02-11T03:44:17+00:00" title="Tuesday, February 11, 2020, 3:44 am" itemprop="commentTime">
        <i class="fa fa-calendar"></i> 2 days ago
    </time>
</div>
<div class="comment-content" itemprop="commentText">
    <p>What should I do?</p>
</div>
<div class="comment-footer clearfix">
    <a rel="nofollow" class="comment-reply-link" href="#comment-1" data-commentid="1" data-postid="1442" data-belowelement="comment-1" data-respondelement="respond" aria-label="<i class=&quot;fa fa-reply&quot;></i> Reply To Q">
        <i class="fa fa-reply"></i> Reply</a>
</div>
<p>

</p>
   <div class="clearfix">
        <div class="comment-avatar">
            <img alt="" class="avatar" height="60" width="60" src="~/images/111.jpg">
        </div><div class="comment-meta">
            <cite class="comment-author" itemprop="creator" itemscope="itemscope" itemtype="https://schema.org/Person">
                "Q"
                <span class="says">says</span>
            </cite> <time class="comment-published" datetime="2019-02-12T18:06:09+00:00" title="Wednesday, February 12, 2020, 6:06 pm" itemprop="commentTime"><i class="fa fa-calendar"></i> 1 day ago</time>
        </div>
        <div class="comment-content" itemprop="commentText">
            <p>Should I use a database management system (MySQL, PostgreSQL, MongoDB, etc)?<br> anyway many thanks</p>
        </div>
        <div class="comment-footer clearfix">
            <a rel="nofollow" class="comment-reply-link" href="#comment-2" data-commentid="2" data-postid="1442" data-belowelement="comment-2" data-respondelement="respond" aria-label="<i class=&quot;fa fa-reply&quot;>
                        </i> Reply To "Q">
                <i class="fa fa-reply"></i> Reply</a>
        </div>
    </div><ol class="children">
    <li id="comment-3" class="comment byuser comment-author" itemprop="" itemscope="itemscope" itemtype="https://schema.org/UserComments">
        <div class="clearfix">
            <div class="comment-avatar">
                <img alt="" class="avatar avatar-60 photo avatar-default b-loaded" height="60" width="60" src="~/images/222.jpg">
            </div>
            <div class="comment-meta">
                <cite class="comment-author" itemprop="creator" itemscope="itemscope" itemtype="https://schema.org/Person">
                    <a href="https://A.com" rel="external nofollow ugc" class="url">"A"</a> <span class="says">says</span>
                </cite> <time class="comment-published" datetime="2020-02-13T17:28:28+00:00" title="Thursday, February 13, 2020, 5:28 pm" itemprop="commentTime">
                    <i class="fa fa-calendar">
                    </i> Today
                </time>
            </div>
            <div class="comment-content" itemprop="commentText">
                <p>
                    Yes, you may use some DBMS, but it’s not mandatory. Anyway, remember: your server should store comment records. So, if you create a new comment record and open the site on another laptop, you should see the new comment record.
                </p>
            </div>
            <div class="comment-footer clearfix">
                <a rel="nofollow" class="comment-reply-link" href="#comment-3" data-commentid="3" data-postid="1442" data-belowelement="comment-3" data-respondelement="respond" aria-label="<i class=&quot;fa fa-reply&quot;>
                            </i> Reply To "A">
                    <i class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </li>
</ol>
</li>


<form name="test" method="post" action="input1.php">
    <p>
        <b>Your name:</b><br>
        <input type="text" size="40">
    </p>
    <p>
        Comment<Br>
        <textarea name="comment" cols="40" rows="3"></textarea>
    </p>
    <p>
        <input type="submit" value="Send">
        <input type="reset" value="Clear">
    </p>
</form>